* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins';
    font-weight: 400;
}

#main-content {
    background: url(../images/background-img-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    padding: 8px;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 400;
}

.nav-wrapper ul li a:hover {
    color: #fff;
}

#moreBtn {
    border-radius: 0px;
    border: #f15959 1px solid;
    color: white;
    transition: .3s;
    font-weight: 300;
}

#moreBtn:hover {
    padding-right: 1.5rem;
    letter-spacing: 1.2px;
    /* transition: 1s; */
}

#scrollUpBtn {
    border-radius: 0px;
    border: #f15959 1px solid;
    color: white;
    transition: .3s;
    font-weight: 300;
}

.fa {
    color: white;
}

.fa:hover {
    color: #f15959;
}

i {
    transition: .3s;
}

i:hover {
    color: #f15959;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

#Contact {
    background: url(../images/contact-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inputStyle {
    border: none;
    border-bottom: 1px solid #d0d1cc;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
}

.inputStyle:focus {
    border-bottom: 1px solid black;
}

input, textarea {
    outline: none;
}

.inputStyle::-webkit-input-placeholder { 
    color: #acacac;
}

.project-card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-overlay {
    color: transparent;
    background-color: rgba(0, 0, 0, 0.0);
    transition: .5s;
    height: 100%;
}

.project-overlay a button {
    text-decoration: none;
    color: transparent;
    border: none;
}

.project-overlay:hover {
    /* background-color: transparent; */
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.project-overlay:hover a button {
    /* background-color: transparent; */
    color: white;
    border: 1px white solid;
    border-radius: 3px;
}

.project-overlay span i {
    transition: 0s;
}

@media screen and (max-width: 990px) {
    .logo {
          padding: 0;
    }

    .nav-wrapper {
          position: fixed;
          top: 0;
          right: 0;
          width: 50%;
          height: 100%;
          z-index: -1;
          background: #fff;
          opacity: 0;
          transition: all 0.2s ease;
          border-left: 1px #f15959 solid;
    }

    .nav-wrapper li a i {
        color: black;
    }

    .nav-wrapper li a i:hover {
        color: #f15959;
    }

    .nav-wrapper ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
    }

    .nav-wrapper ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
    }

    .nav-wrapper ul li:nth-child(1) a {
          transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
          transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
          transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
          transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
          margin-left: 0;
    }

    .nav-wrapper ul li a {
          padding: 10px 24px;
          opacity: 0;
          color: #000;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1.2px;
          transform: translateX(-20px);
          transition: all 0.2s ease;
    }

    .nav-wrapper ul li a:hover {
        color: #000;
    }

    .nav-btn {
          position: fixed;
          right: 10px;
          top: 10px;
          display: block;
          width: 48px;
          height: 48px;
          cursor: pointer;
          z-index: 9999;
          border-radius: 50%;
    }

    .nav-btn i {
          display: block;
          width: 20px;
          height: 2px;
          background: #fff;
          border-radius: 2px;
          margin-left: 14px;
    }

    .nav-btn i:nth-child(1) {
          margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
    }

    .nav-btn i:nth-child(3) {
          margin-top: 4px;
    }
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #ffffff;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}
